* {
	animation-delay: 0.5ms;
}
body {
	margin: 0 auto;
	padding: 0;
}
.wrapper video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover
}
.coming {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 72px;
	font-weight: 100;
	letter-spacing: 0.15em;
	color: #efefef;
	text-align: center;
	position: relative;
	top: 210px;
}
.comingtxt {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #efefef;
	text-align: center;
	position: relative;
	width: 500px;
	margin: auto;
	top: 200px;
	letter-spacing: 0.1em;
	line-height: 1.8;
}
.visit {
	text-align: center;
	position: relative;
	top: 250px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 0.1em;
	color: #efefef;
}
.visit a {
	text-decoration: none;
	color: #efefef;
	background-color: #333333;
	padding: 15px 45px 15px;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}
.visit a:hover {
	background-color: #2ecc71;
	color: #333333;
}
.foot {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #efefef;
	line-height: 1.3;
	padding: 10px 0;
	z-index: 1;
}
.centertxt {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 50px;
}
.heart {
	color: #e74c3c !important;
}

/* Test Scrollbar */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button {
	width: 1px;
	height: 1px;
}

::-webkit-scrollbar-thumb {
	background: #2ecc71;
	border: 0px none #ffffff;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
	background: #2ecc71;
}

::-webkit-scrollbar-thumb:active {
	background: #2bcc71;
}

::-webkit-scrollbar-track {
	background: #666666;
	border: 0px none #ffffff;
	border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
	background: #666666;
}

::-webkit-scrollbar-track:active {
	background: #666666;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
