* {
	animation-delay: 0.5ms;
}
body {
	margin: 0 auto;
	padding: 0;
}
.wrapper video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover
}
.logo {
	margin: 0 auto;
	color: #2ecc71;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 0.3em;
	position: relative;
	float: left;
	left: 50px;
	top: 25px;
}
.logo img{
	transition: all 0.5s ease-in-out;
}
.logo img:hover {
	transform: scale(1.2);
}
.navione {
	margin: 0 auto;
	float: right;
	position: relative;
	right: 150px;
	top: 40px;
}
.navione a {
	text-decoration: none;
	color: #efefef;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}
.navione a:after  {
	content: '';
	position: absolute;
	bottom: -5px;
	left: -12px;
	width: 0%;
	border-bottom: 2px solid #2ecc71;
	transition: 0.4s;
}
.navione a:hover:after {
	width: 150%;
}
.navitwo {
	margin: 0 auto;
	float: right;
	position: relative;
	right: 0px;
	top: 40px;
}
.navitwo a {
	text-decoration: none;
	color: #efefef;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}
.navitwo a:after  {
	content: '';
	position: absolute;
	bottom: -5px;
	left: -12px;
	width: 0%;
	border-bottom: 2px solid #2ecc71;
	transition: 0.4s;
}
.navitwo a:hover:after {
	width: 150%;
}
.wrapper h1 {
	color: #efefef;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 72px;
	letter-spacing: 0.1em;
	margin: 0;
	text-align: center;
	position: relative;
	top: 250px;
}
.soongrn {
	color: #2ecc71;
}
.comingtxt {
	color: #efefef;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.1em;
	width: 400px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 260px;
}
.oldstuff {
	margin: auto;
	text-align: center;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.1em;
	position: relative;
	top: 300px;
	border-style: solid;
	border-color: #efefef;
	border-width: 2px;
	border-radius: 5px;
	width: 90px;
	padding: 15px 25px;
	transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.oldstuff:hover {
	background-color: #efefef;
}
.oldstuff a {
	text-decoration: none;
	color: #efefef;
	transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.oldstuff a:hover {
	color: #333333;
}
.foot {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #efefef;
	line-height: 1.3;
	padding: 10px 0;
	z-index: 1;
}
.centertxt {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 50px;
}
.heart {
	color: #e74c3c !important;
}