.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.jumbotron {
	background-image:url('http://i.imgur.com/3k1pThT.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron .container {
	position: relative;
	top:40px;
}

.jumbotron h1 {
	color: #fff;
	font-size: 48px;
	font-family: 'Lato', sans-serif;
}

.jumbotron p {
	font-size: 20px;
	color: #fff;
}

.learn-more {
	background-color: #f7f7f7;
}

.learn-more h3 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.learn-more a {
	color: #00b0ff;
}

.sample-art {
	background-color: #efefef;
	border-bottom: 1px solid #dbdbdb;
}

.sample-art h2 {
	color: #393c3d;
	font-size: 24px;
}

.sample-art p {
	font-size: 15px;
	margin-bottom: 13px;
}

.footer {
	line-height: 3em;
}

.footer p {
	background-color: #efefef;
	color: #5a5a5a;
	font-size: 70%;
	position: absolute;
	width: 100%;
}

.footer_port {
	background-color: #efefef;
	line-height: 3em;
}

.footer_port p {
	background-color: #efefef;
	width: 100%;
	color: #5a5a5a;
	font-size: 70%;
	position: absolute;
	top: 175%;
	left: 0%;
}

.footer_c4d {
	background-color: #efefef;
	line-height: 3em;
}

.footer_c4d p {
	background-color: #efefef;
	width: 100%;
	color: #5a5a5a;
	font-size: 70%;
	position: absolute;
	top: 93.8%;
	left: 0%;
}

.footer_about {
	background-color: #efefef;
	line-height: 3em;
}

.footer_about p {
	background-color: #efefef;
	width: 100%;
	color: #5a5a5a;
	font-size: 70%;
	position: absolute;
	top: 93.8%;
	left: 0%;
}

.about {
	background-color: #efefef;
}

.who {
	color: #2c3e50;
	font-size: 350%;
	font-family: 'Lato', sans-serif;
	position: absolute;
	left: 50%;
}

.who-p p {
	color: #2c3e50;
	font-size: 110%;
	font-family: 'Lato', sans-serif;
	position: relative;
	bottom: 350px;
	left: 50%;
	width: 30em;
	border: 0px solid #5a5a5a;
	word-wrap: break-word;
}

.who-p img {
	position: absolute;
	bottom: -50px;
	left: 200px;
	width: 375px;
}

.gallery{
	width: 640px;
	position: relative;
	padding-top: 320px;
	margin: 100px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.gallery>img{
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
}

.gallery input[name='switch'] {
	display: none;
}

.gallery label {
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: right;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}

.gallery label img{
	display: block;
}

.gallery input[name='switch']:checked+label {
	border-color: #666;
	opacity: 1;
}

.gallery input[name='switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}

.gallery input[name='switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}

.flip {
	width: 450px;
	height: 250px;
	margin: 70px auto;
	perspective: 1000px;
	position: relative;
	right: 300px;
	top: 0px;
}

.flip a {
	display: block; width: 100%; height: 100%;
	background:
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("http://i.imgur.com/3rNrS6O.jpg");
	background-size: 0, cover;
	transform-style: preserve-3d;
	transition: all 0.5s;
}

.flip:hover a {
	transform: rotateX(80deg);
	transform-origin: bottom;
}

.flip a:after {
	content: ''; position: absolute; left: 0; bottom: 0;
	width: 100%; height: 36px;
	background: inherit; background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg); transform-origin: bottom;
}

.flip a span {
	font-family: 'Lato', sans-serif;
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: 'Lato', sans-serif; text-align: center;
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}

.flip a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}

.flip:hover a:before {
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.flip2 {
	width: 450px;
	height: 250px;
	margin: 70px auto;
	perspective: 1000px;
	position: relative;
	left: 300px;
	top: -320px;
}

.flip2 a {
	display: block; width: 100%; height: 100%;
	background:
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("http://i.imgur.com/3k1pThT.jpg");
	background-size: 0, cover;
	transform-style: preserve-3d;
	transition: all 0.5s;
}

.flip2:hover a {
	transform: rotateX(80deg);
	transform-origin: bottom;
}

.flip2 a:after {
	content: ''; position: absolute; left: 0; bottom: 0;
	width: 100%; height: 36px;
	background: inherit; background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg); transform-origin: bottom;
}

.flip2 a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: 'Lato', sans-serif; text-align: center;
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}

.flip2 a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}

.flip2:hover a:before {
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.flip3 {
	width: 450px;
	height: 250px;
	margin: 70px auto;
	perspective: 1000px;
	position: relative;
	left: -300px;
	top: -320px;
}

.flip3 a {
	display: block; width: 100%; height: 100%;
	background:
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("http://i.imgur.com/NCSOfL4.png");
	background-size: 0, cover;
	transform-style: preserve-3d;
	transition: all 0.5s;
}

.flip3:hover a {
	transform: rotateX(80deg);
	transform-origin: bottom;
}

.flip3 a:after {
	content: ''; position: absolute; left: 0; bottom: 0;
	width: 100%; height: 36px;
	background: inherit; background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg); transform-origin: bottom;
}

.flip3 a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: 'Lato', sans-serif; text-align: center;
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}

.flip3 a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}

.flip3:hover a:before {
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.flip4 {
	width: 450px;
	height: 250px;
	margin: 70px auto;
	perspective: 1000px;
	position: relative;
	left: 300px;
	top: -640px;
}

.flip4 a {
	display: block; width: 100%; height: 100%;
	background:
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("http://i.imgur.com/NCSOfL4.png");
	background-size: 0, cover;
	transform-style: preserve-3d;
	transition: all 0.5s;
}

.flip4:hover a {
	transform: rotateX(80deg);
	transform-origin: bottom;
}

.flip4 a:after {
	content: ''; position: absolute; left: 0; bottom: 0;
	width: 100%; height: 36px;
	background: inherit; background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg); transform-origin: bottom;
}

.flip4 a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: 'Lato', sans-serif; text-align: center;
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}

.flip4 a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}

.flip4:hover a:before {
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.flip5 {
	width: 450px;
	height: 250px;
	margin: 70px auto;
	perspective: 1000px;
	position: relative;
	left: 0px;
	top: -640px;
}

.flip5 a {
	display: block; width: 100%; height: 100%;
	background:
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("http://i.imgur.com/NCSOfL4.png");
	background-size: 0, cover;
	transform-style: preserve-3d;
	transition: all 0.5s;
}

.flip5:hover a {
	transform: rotateX(80deg);
	transform-origin: bottom;
}

.flip5 a:after {
	content: ''; position: absolute; left: 0; bottom: 0;
	width: 100%; height: 36px;
	background: inherit; background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg); transform-origin: bottom;
}

.flip5 a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: 'Lato', sans-serif; text-align: center;
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}

.flip5 a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}

.flip5:hover a:before {
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}
