	#u2130
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1005-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		color: #333333;
		line-height: 23px;
		font-size: 19px;
		text-align: center;
	}

	#u1005-4:hover
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		border-color: #000000;
		border-radius: 0px 10px 0px 0px ;
	}

	#u6967-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		color: #333333;
		line-height: 23px;
		font-size: 19px;
		text-align: center;
	}

	#u1013-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		color: #333333;
		line-height: 23px;
		font-size: 19px;
		text-align: center;
	}

	#u1009-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		color: #333333;
		line-height: 23px;
		font-size: 19px;
		text-align: center;
	}

	#u1017-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		color: #333333;
		line-height: 23px;
		font-size: 19px;
		text-align: center;
	}

	#u1021-4
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		color: #333333;
		line-height: 23px;
		font-size: 19px;
		text-align: center;
	}

	#u6967-4:hover,#u1013-4:hover,#u1009-4:hover,#u1017-4:hover,#u1021-4:hover
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
	}

	#u1005-4:hover p,#u6967-4:hover p,#u1013-4:hover p,#u1009-4:hover p,#u1017-4:hover p,#u1021-4:hover p
	{
		color: #2ECC70;
		visibility: inherit;
	}


