
#u330-6,#u331-6
{
	font-family: open-sans-n6, sans-serif;
}

#u789-4
{
	font-family: open-sans-n4, sans-serif;
}

#u790-4
{
	font-family: open-sans-n4, sans-serif;
}

#u791-4
{
	font-family: open-sans-n4, sans-serif;
}

#u788-4
{
	font-family: open-sans-n7, sans-serif;
}

#u792-4
{
	font-family: open-sans-n4, sans-serif;
}

#u793-4
{
	font-family: open-sans-n4, sans-serif;
}

#u794-4
{
	font-family: open-sans-n4, sans-serif;
}

#u656-2,#u663-2,#u672-2
{
	font-family: open-sans-n7, sans-serif;
}

#u656-4,#u656-6,#u663-4,#u663-6,#u672-4,#u672-6
{
	font-family: open-sans-n3, sans-serif;
}

#u1267-4,#u1267-6,#u1268-4,#u1268-6,#u1269-4,#u1269-6,#u1272-4,#u1272-6,#u1271-4,#u1271-6,#u1270-4,#u1270-6
{
	font-family: open-sans-n3, sans-serif;
}

#u865-7,#u874-8,#u1147-4,#u1150-4,#u1267-2,#u1268-2,#u1269-2,#u1272-2,#u1271-2,#u1270-2,#u1822-4,#u1828-4,#u1861-4,#u1864-4
{
	font-family: open-sans-n7, sans-serif;
}

#u820-5,#u1126-5,#u1748-6,#u1885-4,#u1891-4,#u1897-4,#u1903-4,#u1441-5
{
	font-family: open-sans-n6, sans-serif;
}

#u874-2,#u874-3,#u874-5,#u874-6,#u874-10,#u1345-4,#u1331-4,#u1321-4
{
	font-family: open-sans-n4, sans-serif;
}

