.version.index /* version checker */
{
	color: #0000E1;
	background-color: #ABE517;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1858px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 50px;
	width: 0.01px;/* should not cover content below */
}

#u329
{
	z-index: 2;
	min-height: 767.5500000000003px;
	padding-bottom: 0px;
}

#u329_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
	padding-bottom: 265px;
}

#home
{
	position: relative;
}

#u330-6
{
	z-index: 3;
	width: 599px;
	min-height: 215px;
	left: 215px;
	margin-top: 246px;
	position: relative;
}

#u331-6
{
	z-index: 9;
	width: 337px;
	min-height: 23px;
	left: 215px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u329-bw
{
	z-index: 2;
	min-height: 767.5500000000003px;
}

#u787
{
	z-index: 314;
	height: 75px;
}

#u787-bw
{
	z-index: 314;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 768px;
}

#about
{
	left: -100px;
	margin-top: 1px;
	position: relative;
}

#u811
{
	z-index: 315;
	width: 818px;
	position: fixed;
	top: 790px;
	left: 191px;
}

#u789-4
{
	z-index: 320;
	width: 98px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u790-4
{
	z-index: 324;
	width: 98px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 98px;
}

#u791-4
{
	z-index: 328;
	width: 98px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 196px;
}

#u788-4
{
	z-index: 316;
	width: 230px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u788-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#u792-4
{
	z-index: 332;
	width: 98px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 524px;
}

#u793-4
{
	z-index: 336;
	width: 98px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 622px;
}

#u794-4
{
	z-index: 340;
	width: 98px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 720px;
}

#u789-4:hover,#u790-4:hover,#u791-4:hover,#u792-4:hover,#u793-4:hover,#u794-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 7px -10000px 0px 0px;
}

#u820-5
{
	z-index: 100;
	width: 462px;
	min-height: 73px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 60px;
	color: #333333;
	line-height: 72px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 369px;
	margin-top: 96px;
	position: relative;
}

#pu854
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 52px;
}

#u854
{
	z-index: 115;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/me-ieu854-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/me.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#pu865-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 580px;
}

#u865-7
{
	z-index: 116;
	width: 580px;
	min-height: 96px;
	background-color: transparent;
	color: #333333;
	text-transform: uppercase;
	line-height: 48px;
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u874-12
{
	z-index: 123;
	width: 580px;
	min-height: 386px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	margin-top: 18px;
	position: relative;
}

#u874-8
{
	font-size: 16px;
	line-height: 19px;
	color: #22B573;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u874-2,#u874-3,#u874-5,#u874-6,#u874-10
{
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#presume
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 33px;
}

#resume
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 71px;
}

#u916
{
	z-index: 138;
	width: 142px;
	background-color: #3B5A99;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u941
{
	z-index: 141;
	width: 51px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 45px;
}

#u941:hover
{
	background-color: transparent;
	width: 51px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u941_img:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u913
{
	z-index: 137;
	width: 142px;
	background-color: #55ADED;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 487px;
}

#u951
{
	z-index: 143;
	width: 110px;
	height: 110px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
	background: transparent url("../images/twit.png") no-repeat center center;
	background-size: contain;
}

#u951:hover
{
	width: 110px;
	height: 110px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/twit-u951-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u904
{
	z-index: 136;
	width: 142px;
	background-color: #B21117;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u983
{
	z-index: 144;
	width: 110px;
	height: 110px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
	background: transparent url("../images/yt.png") no-repeat center center;
	background-size: contain;
}

#u983:hover
{
	width: 110px;
	height: 110px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/yt-u983-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u907
{
	z-index: 139;
	width: 142px;
	background-color: #FF4CAB;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 771px;
}

#u986
{
	z-index: 145;
	width: 110px;
	height: 110px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
	background: transparent url("../images/flickr.png") no-repeat center center;
	background-size: contain;
}

#u986:hover
{
	width: 110px;
	height: 110px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/flickr-u986-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u910
{
	z-index: 140;
	width: 142px;
	background-color: #333333;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	left: 913px;
}

#u992
{
	z-index: 146;
	width: 110px;
	height: 110px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
	background: transparent url("../images/git.png") no-repeat center center;
	background-size: contain;
}

#u992:hover
{
	width: 110px;
	height: 110px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/git-u992-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1126-5
{
	z-index: 105;
	width: 462px;
	min-height: 73px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 60px;
	color: #333333;
	line-height: 72px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 369px;
	margin-top: 44px;
	position: relative;
}

#pu1156
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: -100px;
	margin-top: 39px;
}

#u1156
{
	z-index: 148;
	height: 2px;
	background-color: #333333;
}

#u1156-bw
{
	z-index: 148;
	margin-top: 14px;
	height: 2px;
}

#u1147-4
{
	z-index: 149;
	width: 120px;
	min-height: 21px;
	background-color: #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	color: #333333;
	line-height: 19px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 199px;
}

#u1150-4
{
	z-index: 153;
	width: 120px;
	min-height: 21px;
	background-color: #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	color: #333333;
	line-height: 19px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 782px;
}

#u1174
{
	z-index: 157;
	width: 30px;
	height: 2px;
	background-color: #333333;
	-webkit-transform: matrix(0,1,-1,0,16,-14);
	-ms-transform: matrix(0,1,-1,0,16,-14);
	transform: matrix(0,1,-1,0,16,-14);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 184px;
}

#u1183
{
	z-index: 158;
	width: 30px;
	height: 2px;
	background-color: #333333;
	-webkit-transform: matrix(0,1,-1,0,16,-14);
	-ms-transform: matrix(0,1,-1,0,16,-14);
	transform: matrix(0,1,-1,0,16,-14);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 767px;
}

#u1177
{
	z-index: 159;
	width: 30px;
	height: 2px;
	background-color: #333333;
	-webkit-transform: matrix(0,1,-1,0,16,-14);
	-ms-transform: matrix(0,1,-1,0,16,-14);
	transform: matrix(0,1,-1,0,16,-14);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 304px;
}

#u1180
{
	z-index: 160;
	width: 30px;
	height: 2px;
	background-color: #333333;
	-webkit-transform: matrix(0,1,-1,0,16,-14);
	-ms-transform: matrix(0,1,-1,0,16,-14);
	transform: matrix(0,1,-1,0,16,-14);
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 887px;
}

#pu1267-8
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u1267-8
{
	z-index: 161;
	width: 489px;
	min-height: 103px;
	background-color: transparent;
	color: #333333;
	position: relative;
	margin-right: -10000px;
}

#u1268-8
{
	z-index: 169;
	width: 489px;
	min-height: 103px;
	background-color: transparent;
	color: #333333;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

#pu1269-8
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 43px;
}

#u1269-8
{
	z-index: 177;
	width: 489px;
	min-height: 122px;
	background-color: transparent;
	color: #333333;
	position: relative;
	margin-right: -10000px;
}

#u1272-8
{
	z-index: 201;
	width: 489px;
	min-height: 122px;
	background-color: transparent;
	color: #333333;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

#pu1271-8
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 44px;
}

#u1271-8
{
	z-index: 193;
	width: 489px;
	min-height: 103px;
	background-color: transparent;
	color: #333333;
	position: relative;
	margin-right: -10000px;
}

#u1270-8
{
	z-index: 185;
	width: 489px;
	min-height: 103px;
	background-color: transparent;
	color: #333333;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

#u1267-2,#u1268-2,#u1269-2,#u1272-2,#u1271-2,#u1270-2
{
	font-size: 16px;
	text-transform: uppercase;
	line-height: 19px;
	letter-spacing: 5px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u1267-4,#u1267-6,#u1268-4,#u1268-6,#u1269-4,#u1269-6,#u1272-4,#u1272-6,#u1271-4,#u1271-6,#u1270-4,#u1270-6
{
	line-height: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#milestone
{
	left: -100px;
	margin-top: 44px;
	position: relative;
}

#u1285
{
	z-index: 209;
	min-height: 499px;
	background: #3F3F3F url("../images/bedroom-u1285-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.75);
	background-size: cover;
}

#u1285_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
	padding-top: 34px;
	padding-bottom: 131px;
}

#u1748-6
{
	z-index: 264;
	width: 480px;
	min-height: 73px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 60px;
	color: #333333;
	line-height: 72px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	left: 460px;
	position: relative;
}

#u1748
{
	color: #FFFFFF;
}

#pu1793
{
	width: 0.01px;
	left: 242px;
	margin-top: 46px;
	position: relative;
}

#u1793
{
	z-index: 274;
	width: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1773
{
	z-index: 272;
	width: 91px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u1803
{
	z-index: 276;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 580px;
}

#u1756
{
	z-index: 270;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#pu1822-4
{
	width: 0.01px;
	left: 242px;
	margin-top: 13px;
	position: relative;
}

#u1822-4
{
	z-index: 278;
	width: 123px;
	min-height: 64px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 64px;
	font-size: 53px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1828-4
{
	z-index: 298;
	width: 123px;
	min-height: 64px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 64px;
	font-size: 53px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 229px;
}

#u1861-4
{
	z-index: 302;
	width: 123px;
	min-height: 64px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 64px;
	font-size: 53px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 573px;
}

#u1864-4
{
	z-index: 306;
	width: 123px;
	min-height: 64px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 64px;
	font-size: 53px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 794px;
}

#u1867
{
	z-index: 310;
	width: 145px;
	height: 2px;
	background-color: #FFFFFF;
	left: 242px;
	position: relative;
}

#u1870
{
	z-index: 311;
	width: 145px;
	height: 2px;
	background-color: #FFFFFF;
	left: 471px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1876
{
	z-index: 312;
	width: 145px;
	height: 2px;
	background-color: #FFFFFF;
	left: 815px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1879
{
	z-index: 313;
	width: 145px;
	height: 2px;
	background-color: #FFFFFF;
	left: 1036px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu1885-4
{
	width: 0.01px;
	left: 242px;
	margin-top: 7px;
	position: relative;
}

#u1885-4
{
	z-index: 282;
	width: 145px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

#u1891-4
{
	z-index: 286;
	width: 145px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 229px;
}

#u1897-4
{
	z-index: 290;
	width: 145px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 573px;
}

#u1903-4
{
	z-index: 294;
	width: 145px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 794px;
}

#u1285-bw
{
	z-index: 209;
	min-height: 499px;
	margin-top: 55px;
}

#portfolio
{
	left: -100px;
	margin-top: 42px;
	position: relative;
}

#u1441-5
{
	z-index: 110;
	width: 462px;
	min-height: 73px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 60px;
	color: #333333;
	line-height: 72px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 369px;
	margin-top: 57px;
	position: relative;
}

#u820-2,#u865-2,#u865-4,#u1126-2,#u1748-3,#u1441-2
{
	color: #22B573;
}

#pu1736
{
	width: 0.01px;
	margin-left: -150px;
	margin-top: 60px;
}

#u1736
{
	z-index: 263;
	width: 50px;
	min-height: 25px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
}

.grow
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#slideshowu1320
{
	z-index: 211;
	width: 0.01px;
	height: 899px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 166px;
}

#u1333
{
	position: absolute;
	width: 1159px;
	height: 898px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -20px;
	left: 4px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1333popup
{
	z-index: 212;
}

#u1336
{
	z-index: 213;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1536
{
	z-index: 215;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1556
{
	z-index: 217;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1556_img
{
	padding-top: 34px;
	padding-bottom: 33px;
}

#u1576
{
	z-index: 219;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1576_img
{
	padding-left: 279px;
	padding-right: 279px;
}

#u1596
{
	z-index: 221;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1336_img,#u1536_img,#u1596_img
{
	padding-top: 105px;
	padding-bottom: 104px;
}

#u1616
{
	z-index: 223;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1616_img
{
	padding-left: 186px;
	padding-right: 186px;
}

#u1636
{
	z-index: 225;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1636_img
{
	padding: 118px 157px 118px 158px;
}

#u1656
{
	z-index: 227;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1656_img
{
	padding: 210px 255px 209px;
}

#u1676
{
	z-index: 229;
	width: 1115px;
	height: 836px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1676_img
{
	padding-left: 235px;
	padding-right: 234px;
}

#u1322
{
	position: absolute;
	width: 1167px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 39px;
}

#u1322popup
{
	z-index: 231;
}

#u1325
{
	z-index: 232;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u1542
{
	z-index: 234;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	left: 396px;
}

#u1562
{
	z-index: 236;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	left: 780px;
}

#u1325:hover,#u1542:hover,#u1562:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 373px;
	height: 280px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1582
{
	z-index: 238;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 13px;
}

#u1602
{
	z-index: 240;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 396px;
}

#u1622
{
	z-index: 242;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 780px;
}

#u1582:hover,#u1602:hover,#u1622:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 373px;
	height: 280px;
	min-height: 0px;
	margin: 290px -10000px 0px 0px;
}

#u1642
{
	z-index: 244;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 13px;
}

#u1662
{
	z-index: 246;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 396px;
}

#u1562_img,#u1662_img
{
	margin-left: -16px;
	margin-right: -17px;
}

#u1682
{
	z-index: 248;
	width: 373px;
	height: 280px;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 780px;
}

#u1642:hover,#u1662:hover,#u1682:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 373px;
	height: 280px;
	min-height: 0px;
	margin: 580px -10000px 0px 0px;
}

#u1345-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: 839px;
	left: 1011px;
}

#u1345-4popup
{
	z-index: 250;
}

#u1331-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: 839px;
	left: 1112px;
}

#u1331-4popup
{
	z-index: 254;
}

#u1321-4
{
	position: absolute;
	width: 70px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: 839px;
	left: 1041px;
}

#u1321-4popup
{
	z-index: 258;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u400
{
	z-index: 15;
	height: 473px;
	min-width: 30px;
}

#u400-bw
{
	z-index: 15;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 473px;
}

#contact
{
	left: -100px;
	position: relative;
}

#widgetu540
{
	z-index: 16;
	width: 0.01px;
	height: 438px;
	margin-left: 20px;
	margin-top: 28px;
	position: relative;
}

#widgetu551
{
	z-index: 17;
	width: 328px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u554-4
{
	z-index: 18;
	width: 300px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 11px;
}

#widgetu551:hover #u554-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu551.focus-st #u554-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu542
{
	z-index: 22;
	width: 328px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#widgetu551.fld-err-st,#widgetu542.fld-err-st
{
	width: 328px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u544-4
{
	z-index: 23;
	width: 300px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 11px;
}

#widgetu542:hover #u544-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu542.focus-st #u544-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#u559-4
{
	z-index: 27;
	width: 283px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	left: 186px;
}

#u546-4
{
	z-index: 31;
	width: 283px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	left: 186px;
}

#u541-4
{
	z-index: 35;
	width: 283px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	left: 186px;
}

#widgetu540.frm-sub-st #u559-4,#widgetu540.frm-subm-err-st #u546-4,#widgetu540.frm-subm-ok-st #u541-4
{
	min-height: 25px;
}

#u560-17
{
	z-index: 39;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 263px;
}

#widgetu547
{
	z-index: 56;
	width: 685px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
}

#widgetu547.fld-err-st
{
	width: 685px;
	height: 201px;
	min-height: 0px;
	margin: 146px -10000px 0px 0px;
}

#u550-4
{
	z-index: 57;
	width: 657px;
	min-height: 187px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 11px;
}

#widgetu547:hover #u550-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 189px;
	width: 658px;
	margin: 0px -10000px 0px 0px;
}

#widgetu547.focus-st #u550-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 189px;
	width: 658px;
	margin: 0px -10000px 0px 0px;
}

#widgetu547.fld-err-st #u550-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 187px;
	width: 657px;
	margin: 0px -10000px 0px 0px;
}

#widgetu547_input,#widgetu547_prompt
{
	width: 657px;
	min-height: 187px;
	padding: 6px 6px 6px 11px;
}

#widgetu615
{
	z-index: 61;
	width: 328px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#u618-4
{
	z-index: 62;
	width: 300px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 11px;
}

#widgetu615:hover #u618-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu615.focus-st #u618-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu627
{
	z-index: 66;
	width: 328px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 357px;
}

#widgetu615.fld-err-st,#widgetu627.fld-err-st
{
	width: 328px;
	height: 50px;
	min-height: 0px;
	margin: 73px -10000px 0px 0px;
}

#u629-4
{
	z-index: 67;
	width: 300px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 11px;
}

#widgetu627:hover #u629-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu627.focus-st #u629-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 301px;
	margin: 0px -10000px 0px 0px;
}

#widgetu551.fld-err-st #u554-4,#widgetu542.fld-err-st #u544-4,#widgetu615.fld-err-st #u618-4,#widgetu627.fld-err-st #u629-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 36px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu551_input,#widgetu551_prompt,#widgetu542_input,#widgetu542_prompt,#widgetu615_input,#widgetu615_prompt,#widgetu627_input,#widgetu627_prompt
{
	width: 300px;
	min-height: 36px;
	padding: 6px 6px 6px 11px;
}

#widgetu551:hover #widgetu551_input,#widgetu551.focus-st #widgetu551_input,#widgetu551.fld-err-st #widgetu551_input,#widgetu551:hover #widgetu551_prompt,#widgetu551.focus-st #widgetu551_prompt,#widgetu551.fld-err-st #widgetu551_prompt,#widgetu542:hover #widgetu542_input,#widgetu542.focus-st #widgetu542_input,#widgetu542.fld-err-st #widgetu542_input,#widgetu542:hover #widgetu542_prompt,#widgetu542.focus-st #widgetu542_prompt,#widgetu542.fld-err-st #widgetu542_prompt,#widgetu547:hover #widgetu547_input,#widgetu547.focus-st #widgetu547_input,#widgetu547.fld-err-st #widgetu547_input,#widgetu547:hover #widgetu547_prompt,#widgetu547.focus-st #widgetu547_prompt,#widgetu547.fld-err-st #widgetu547_prompt,#widgetu615:hover #widgetu615_input,#widgetu615.focus-st #widgetu615_input,#widgetu615.fld-err-st #widgetu615_input,#widgetu615:hover #widgetu615_prompt,#widgetu615.focus-st #widgetu615_prompt,#widgetu615.fld-err-st #widgetu615_prompt,#widgetu627:hover #widgetu627_input,#widgetu627.focus-st #widgetu627_input,#widgetu627.fld-err-st #widgetu627_input,#widgetu627:hover #widgetu627_prompt,#widgetu627.focus-st #widgetu627_prompt,#widgetu627.fld-err-st #widgetu627_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#pu645
{
	width: 0.01px;
	margin-left: 811px;
	margin-top: -438px;
}

#u645
{
	z-index: 71;
	width: 68px;
	height: 68px;
	position: relative;
	margin-right: -10000px;
}

#u656-8
{
	z-index: 74;
	width: 278px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#pu660
{
	width: 0.01px;
	margin-left: 811px;
	margin-top: -325px;
}

#u660
{
	z-index: 72;
	width: 68px;
	height: 68px;
	position: relative;
	margin-right: -10000px;
}

#u663-8
{
	z-index: 82;
	width: 278px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#pu669
{
	width: 0.01px;
	margin-left: 811px;
	margin-top: -211px;
}

#u669
{
	z-index: 73;
	width: 68px;
	height: 68px;
	position: relative;
	margin-right: -10000px;
}

#u672-8
{
	z-index: 90;
	width: 278px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}

