.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
 
.nav li {
  display: inline;
}
 
.jumbotron {
  background-image:url('http://i.imgur.com/3k1pThT.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
 
.jumbotron .container {
  position: relative;
  top:40px;
}
 
.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Helvetica-Neue', sans-serif;
  font-weight: Lighter;
}
 
.jumbotron p {
  font-size: 20px;
  color: #fff;
}
 
.learn-more {
  background-color: #f7f7f7;
}
 
.learn-more h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: Lighter;
}
 
.learn-more a {
  color: #00b0ff;
}
 
.sample-art {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
 
.sample-art h2 {
    color: #393c3d;
    font-size: 24px;
}
 
.sample-art p {
    font-size: 15px;
    margin-bottom: 13px;
}

.footer {
    color: #5a5a5a;
    background-color: #efefef;
    font-size: 75%;
    position: relative;
    left: 10px;
    line-height: 3em;
}

.about {
    background-color: #efefef;
    text-align: center;
}

.who {
    color: #2c3e50;
    font-size: 200%;
    font-family: 'Helvetica-Neue', sans-serif;
}

.story {
    color: #2c3e50;
    font-size: 200%;
    font-family: 'Helvetica-Neue', sans-serif
}

.footer {
    min-height: 500px;
    position: relative;
    left: -20px;
}
