.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-family: 'Helvetica-Neue', sans-serif;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  position: absolute;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.jumbotron .container {
  position: relative;
  top:40px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Helvetica-Neue', sans-serif;
  font-weight: Lighter;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: Lighter;
}

.learn-more a {
  color: #00b0ff;
}

.sample-art {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.sample-art h2 {
    color: #393c3d;
    font-size: 24px;
}

.sample-art p {
    font-size: 15px;
    margin-bottom: 13px;
}
