body {
	margin: 0 auto;
	padding: 0;
	font-family: "Helvetica Neue","Helvetica", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
	top: 50px;
	float: left;
}

.wrapper video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.wrapper h1 {
	font-weight: 600;
	font-size: 52px;
	color: #efefef;
	position: relative;
	top: 50px;
	margin: 0 auto;
	float: left;
	left: 230px;
}

.wrapper p {
	font-weight: 400;
	font-size: 21px;
	color: #efefef;
	margin: 0 auto;
	position: relative;
	width: 500px;
	top: 140px;
	right: 105px;
}

.emailform {
	display: flex;
	position: relative;
	margin: auto;
	top: 180px;
	float: left;
	left: 220px;
}

.emailform input {
	border-radius: 5px;
	margin-left: 10px;
	color: #efefef;
}

.emailform .email {
	text-decoration: none;
	width: 288px;
	height: 40px;
	background-color: transparent;
	display: block;
	outline: 0;
	padding: 0 16px;
	border: solid 2px rgba(255, 255, 255, 0.5);
	transition: ease-in-out 0.3s;
}

.emailform input[type="submit"]{
	background-color: #23cc71;
	border: 0;
	color: #efefef !important;
	display: inline-block;
	font-weight: 500;
	height: 44px;
	line-height: 44px;
	padding: 0 18px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}

.emailform .email:focus {
	border: solid 2px #2eec71;
	background-color: rgba(255, 255, 255, 0.2);
}

.emailform input[type="submit"]:hover {
	background-color: #24a35a;
}